@import "@material/react-layout-grid/index.scss";
@import "@material/react-button/index.scss";
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:500&display=swap");

.mdc-button {
  @include mdc-button-outline-color(#000000);
  @include mdc-button-ink-color(#000000);
}

.mdc-ripple-upgraded {
  @include mdc-states(#000000, false);
}

.App {
  a {
    text-decoration: none;
  }
  text-align: center;
  font-family: Montserrat;
  height: 100%;
  .content {
    position: relative;
    top: 25%;
    .team-name {
      font-variant: all-petite-caps;
      color: #efefef;
      font-size: 50px;
      letter-spacing: 14px;
      margin-right: -14px;
      margin-top: -28px;
    }
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.video-container {
  width: 100%;
  video {
    clip-path: url(#clip-00);
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
